.reg{
    color: rgba(230, 224, 224, 0.863);
    position: absolute;
    font-size: 15px;
    width: 100%;
    text-align: center;
    bottom: 100px;
    
}
.goin{
    display: none;
    
}
.show{
    display: block;
   position: absolute;
   top: 400px;
   left: 600px;
   border: none;
   background-color: rgb(231, 8, 164);
   color: white;
   padding: 10px 5px;
   border-radius: 30px;
   font-weight: bolder;
}
.front{
    background-image: url("/src/damis2.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
  }
.holla{
    width: 100vw;
    height: 100vh;
    background-image: url(/src/welcome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-50px ;
}
.email{
    width: 50%;
    position: absolute;
    top: 270px;
    left: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
    
}
.firstn1{
    width: 30%;
    position: absolute;
    top: 275px;
    left: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
    
}
.lastn1{
    width: 30%;
    position: absolute;
    top: 350px;
    left: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
    
}
.p{
    position: absolute;
    top: 380px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.h2{
    position: absolute;
    top: 410px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.password{
    width: 50%;
    position: absolute;
    top: 340px;
    left: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
    
}
.mail{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 250px;
    left: 350px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.firstn{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 250px;
    left: 100px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.lastn{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 320px;
    left: 100px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.pass{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 320px;
    left: 350px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.btn{
    background-color: rgb(156, 11, 96);
    border: none;
    color: rgba(245, 245, 245, 0.603);
    position: absolute;
    bottom: 40px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 20px;
    position: fixed;
}
.btn1{
    background-color: rgb(73, 6, 45);
    border: none;
    color: rgba(245, 245, 245, 0.603);
    position: absolute;
    top: 60px;
    right: 30px;
    width: 10%;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 30px;
    position: fixed;

}
.age{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 400px;
    left: 100px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.age1{
    width: 10%;
    position: absolute;
    top: 424px;
    left: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
}
.emails1{
    width: 35%;
    position: absolute;
    top: 275px;
    right: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
}
.pak1{
    width: 35%;
    position: absolute;
    top: 355px;
    right: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    outline: none;
    color: whitesmoke;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    position: fixed;
}
.emails{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 250px;
    right: 100px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.pak{
    color: rgba(245, 245, 245, 0.589);
    position: absolute;
    top: 330px;
    right: 100px;
    font-family: Monaco, Consolas, 'Courier New',
    monospace;
    position: fixed;
}
.siup{
    background-color: rgb(156, 11, 96);
    border: none;
    color: rgba(245, 245, 245, 0.603);
    position: absolute;
    bottom: 40px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 20px;
    position: fixed;
}


@media (max-width:450px){
    .p{
        top: 420px;
        width: 100%;
        font-size: 15px;
    }
    .h2{
        top: 460px;
        font-size: 15px;
    }
    .show{
       top: 480px;
       left: 150px;
       border: none;
       background-color: rgb(231, 8, 164);
       color: white;
       padding: 10px 5px;
       border-radius: 30px;
       font-weight: bolder;
    }
    .emails{
        top: 300px;
        right: 20px;
    }
    .pak{
        top: 360px;
        right: 20px;
    }
    .emails1{
        top: 317px;
        right: 10px;
        font-size: 14px;
        
    }
    .pak1{
        top: 387px;
        right: 10px;
        font-size: 14px;
        
    }
    .age{
        top: 420px;
        left: 20px;
    }
    .age1{
       
        top: 444px;
        left: 10px;
        font-size: 14px;
        
    }
   .lastn{
        top: 360px;
        left: 20px;
        font-family: Monaco, Consolas, 'Courier New',
        monospace;
        position: fixed;
    }
    .lastn1{
        width: 40%;
        top: 385px;
        left: 10px;
        font-size: 14px;
        
    }
    .firstn1{
        width: 40%;
        top: 325px;
        left: 10px;
        font-size: 14px;
        
    }
    .firstn{
        top: 300px;
        left: 20px;
    }
    .btn1{
        width: 20%;
        top: 40px;
        right: 20px;
    }
    .holla{
        background-image: url(/src/welcome1.jpg);
        background-position-y:0px ;
        overflow: hidden;
        background-size: cover;
    }
    .mail{
        top: 300px;
        left: 50px;
    }
    .pass{
        
        position: absolute;
        top: 370px;
        left: 50px;
    }
    .email{
        width: 80%;
        top: 330px;
        left: 20px;
        font-size: 15px;
    
    }.password{
        width: 80%;
        top: 390px;
        left: 20px;
        font-size: 15px;
    
    }
    .front{
        background-image: url("/src/damis1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        
      }
}